name: Build and Publish
# Only trigger, when version bump succeeded
on:
  workflow_run:
    workflows: ['Bump Version']
    types:
      - completed

jobs:
  build:
    name: Docker build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build majesdash
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          file: ./apps/api/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/majesdash:develop
